@model List<Microsoft.AspNetCore.Identity.IdentityRole>
<a href="/admin/role/create" class="btn btn-dark">Create</a>
<table class="table table-hover table-dark">
    <tr>
        <th>#</th>
        <th>Name</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>