@model UserVM
<form method="post">
   <div class="form-group">
       <select class="form-control" name="role">
           @foreach (var item in Model.Roles)
            {
                <option>@item</option>
            }
           
       </select>
       <button type="submit" class="btn btn-success">Add</button>
   </div>
</form>