@model Tag
@{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }
}
<form method="post">
    @* <div asp-validation-summary="All" class="alert-danger"></div> *@
    <div class="form-group">

<label asp-for="TagName">TagName</label>
<input type="text" asp-for="TagName" class="form-control"/>
<span asp-validation-for="TagName" class="text-danger"></span>@*//Tagname ile bagli error olsa cixartmasi ucun yazilib*@
<button type="submit" class="btn btn-success btn-block w-100 btn-lg">Create</button>
    </div>
</form>
@* //controllerden  view-a tempData,ViewBag,ViewData,model*@
@* view-dan controllore ya name ile ya da asp-for ile gonderirik*@


@* Suallar *@
@* //modelstate-den error gondermek,viewbag ile error gondermek,asp-validation-summary ile error gondermek,asp-validation-for ile error gondermek ferqleri nedir? *@
@* modelState ile erroru ozumuz yaziriq harda error ola bileceyini fikirlesirik *@
@* @* ViewBag ile error gondermeyin modelstate den ferqini bilmirem  *@@*--------------- *@
@* asp-validation-summary=ALL yazdiqda ola bilecek butun errorlari cixardir.ModelONly yazanda modelden gonderdiyimiz ve oz tapdigi errorlari cixardir*@
@* asp-validation-for="TagName" yazdiqda sadece TagName ile bagli errorlari qaytarir *@
