@model Tag 
<form method="post">
    <div class="form-group">
        <partial class="font-weight-bold text-dark">Are you sure delete "@Model.TagName" tag?</p>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="/admin/tag" class="btn btn-dark">Cancel</a>