@model Tag
@{
    if (ViewBag != null)
    {
       <p class="text text-danger">@ViewBag.Error</p>
    }
}
<form method="post">
    <div class="form-group">
        <label asp-for="TagName">TagName</label>
        <input type="text" class="form-control" asp-for="TagName"  />
         <span asp-validation-for="TagName" class="text-danger"></span> 
    </div>
        <button class="btn btn-dark" type="submit">Update</button>
</form>
