@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    if( ViewData["Error"] != null)
    {
        <span class="text-danger">@ViewData["Error"]</span>
    }
}
<form method="post"> 
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
