@model  List<Microsoft.AspNetCore.Identity.IdentityRole>

<table class="table table-bordered table-success table-hover">
    <tr>
        <th>#</th>
        <th>Role Name</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>
</table>
<a href="/admin/role/create" class="btn btn-success" >Create</a>