@model Article
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input type="text" asp-for="Title" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content">
            <textarea id="editor1" asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </label>
    </div>
    <div class="form-group">
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control">

        <option>Select Category</option>
        </select>
    </div>
    <div class="form-group">
        <select multiple name="tagIds" class="form-control" >
            @foreach (var item in ViewData["tags"] as List<Tag>)
            {
                
            <option value="@item.Id">@item.TagName</option>
            }
        </select>
    </div>
    <div>
        <input type="file" accept="image/*" name="file" class="form-control" value=""/>
        <span asp-validation-for="PhotoUrl" class="text-danger"></span>
    </div>
    @if (User.IsInRole("Admin Editor") || User.IsInRole("Admin") || User.IsInRole("Super Admin") || User.IsInRole("Manager"))
    {
        <div class="form-group">
            <label asp-for="IsActive"></label>
            <input type="checkbox" asp-for="IsActive" />

        </div>
        <div class="form-group">
            <label asp-for="isFeatured"></label>
            <input type="checkbox" asp-for="isFeatured" />

        </div>
    }
   
    <button type="submit" class="btn btn-dark">Create</button>
</form>
@section Script{
    <script src="//cdn.ckeditor.com/4.22.0  /standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("editor1");
    </script>
    @* burda ise gelib @section ve verdiyimiz adi yaziriq ve linki otururuk(Ck editordan goturduyumuz)*@
    @* ve ikinci scriptin icinde  adini editor1 ile deyisib hara tetbiq elemek isteyirikse orda otururuk id ile(id=editor1)*@

}